@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    height: auto;
    max-width: 100%;
}
a {
    color: #1565c1;
    cursor: pointer;
    text-decoration: none;
}

body{
    font-family: Roboto,"Segoe UI",Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,BlinkMacSystemFont,-apple-system,sans-serif;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box;
}
@media screen and (min-width: 1472px){
    .container {
        max-width: 1344px;
    }
}

#main-nav{
    border-bottom: solid rgba(0,0,0,.2) 1px;
}
#main-nav>.container{
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
}
.navbar-menu .navbar-end {
    align-items: center;
}
.navbar-item{
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}
.navbar-item.is-active{
    color: #205c9a;
}

@media screen and (min-width: 1088px){
    .navbar, .navbar-end, .navbar-menu{
        flex-grow: 1;
        flex-shrink: 0;
    }
    .navbar, .navbar-end, .navbar-menu {
        align-items: stretch;
        display: flex;
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
    }

    .navbar-item{
        align-items: center;
        display: flex;
    }
}


@media screen and (max-width: 768px){
    #main-nav>.container{
        padding: 0;
    }
    .navbar-menu{
        position: absolute;
        background-color: #fff;
        border-bottom: solid rgba(0,0,0,.2) 1px;
        left: 0;
        right: 0;
        top: 77px;
        box-sizing: border-box;
        display:none;
    }
    .navbar-menu.is-active{
        display: block;
    }
    .navbar-brand{
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    .navbar-brand .navbar-item{
        padding: 0;
    }
    .navbar-burger {
        width: 3rem;
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: auto;
    }
    .navbar-burger span {
        height: 2px;
        background-color: #1565c1;
        display: block;
        left: calc(50% - 8px);
        transform-origin: center;
        transition-duration: 86ms;
        transition-property: background-color,opacity,transform;
        transition-timing-function: ease-out;
        width: 16px;
        margin-bottom: 4px;
    }
}
@media screen and (min-width: 769px){
    .wrapper {
        display: flex;
    }
    #primary{
        flex: none;
        width: 66.66667%;
        padding-right: 24px;
    }
}

article{
    border-bottom: solid rgba(0,0,0,.2) 1px;
    margin-top: 32px;
    padding-bottom: 32px;
}
article .title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
}
article .title a{
    color: #363636;
}
article .card-image img{
    min-width: 100%;
}
article .card-content{
    padding-top: 16px;
}
article .card-content .media{
    margin-bottom: 1.5rem;
}
article .content{

}

article .post-meta{
    font-size: .75rem;
}
article .post-meta .wrap-posted-on{
    display: block;
    margin-bottom: 8px;
}

#secondary{
    padding-left: 24px;
    padding-top: 32px;
    border-left: solid rgba(0,0,0,.12) 1px;
}
#secondary aside{
    border-bottom: solid rgba(0,0,0,.12) 1px;
    padding-bottom: 32px;
    margin-bottom: 32px;
}
#secondary .widget .heading{
    font-size: 1.25rem;
    color: #205c9a;
    margin-bottom: 16px;
}

#recent-posts ul {
    list-style: disc;
    padding-left: 32px;
}
#recent-posts ul li{
    margin-bottom: 16px;
}
#recent-posts ul a{
    color: inherit;
}

footer{
    border-top: 1px solid rgba(0,0,0,.2);
}

footer .copyright {
    text-align: center;
    font-size: 14px;
    padding: 8px 0;
}
footer a{
    color: inherit;
    margin: 0 4px;
}